@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F4E1C1;
}

/* Navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    list-style: none;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar li a.active {
    font-weight: bold;
}

.navbar li {
  position: relative;
}

.explore-btn {
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  min-width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Footer */
.sitemap {
    border-top: 1px solid #ddd;
    padding: 40px 60px;
    justify-content: center;
    display: flex;
    background-color: #ffffff97;
}

.footer-container {
    display: flex;
    gap: 200px;
    align-items: flex-start;
    text-align: left;
}

.footer-logo img {
    width: 80px;
}

.footer-column h4 {
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #222;
    margin: 4px 0;
}

.footer-column a:hover {
    text-decoration: underline;
}

.credit {
    text-align: center;
}

/* Slideshow */
.slides {
    display: none;
    position: relative;
}

.slides img {
    vertical-align: middle;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
}

.slideshow-container {
    max-width: none;
    position: relative;
    margin: auto;
    width: 100%;
}

.slideshow-container div img.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/* Overlay text styles */
.global-caption {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px black;
    z-index: 10;
}

/* Positioning options */
.left-center {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
}

.left-center h1 {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
}

.left-center p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.bottom-right {
    bottom: 10%;
    right: 12%;
    text-align: center;
}

/* Arrow Explore */
.explore-btn1 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 5px solid white;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    font-weight: bold;
    white-space: nowrap;
}

.explore-btn1 a::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
    font-weight: bold;
}

.explore-btn1 a::after {
    content: "";
    display: inline-block;
    background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}

.explore-btn1 a:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
}

.explore-btn1 a:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.explore-btn1 a:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}